.div-2 {
  padding: 77px 196px 309px 238px;
  background: #ffffff;
}
.div-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 22px 64px 22px 15px;
  background: #ffffff;
}
.img-1 {
  height: 594px;
  width: 500px;
  margin: 0px 0px 0px 0px;
}
.div-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 0px 0px;
}
.span-1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  margin: 0px 0px 0px 0px;
  color: #000000;
}
.div-5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin: 11px 0px 0px 0px;
}